:root,
html,
body {
  font-family: 'Work Sans', sans-serif;
}
$footer-height: 140px;

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  p{
    padding-left: 8*2px;
    padding-right: 8*2px;
    box-sizing: border-box;
    margin-top: 8*4px;
    width: 100%;
    line-height: 8*3px;
    text-align: justify;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 100%;
    margin-bottom: $footer-height + 8*2px;
    display: flex;
    justify-content: center;
    p{
      padding-left: 0;
      padding-right: 0;
      margin-top: 8*4px;
      width: 70%;
      line-height: 8*3px;
      text-align: justify;
    }
  }
}