<div class="container">
  <div class="page-header">Strategy</div>
  <p>
    Kiri AM stands as the perfect companion for any individual or investor who needs the experience, services and
    contacts that Kiri AM has. Through a thorough analysis of the Real Estate market, in addition to its contacts and
    its relationship with the main companies in the sector, Kiri AM is able to source and execute outstanding
    investment opportunities.
    This way, whether we are advising on deal related to a residential property, a hotel, or a commercial / industrial
    asset, Kiri AM is able to reduce the investor’s risks through rigorous research and analysis.
  </p>
</div>