<div class="container">
  <p>
    Kiri Asset Management is a Real Estate management and advisory firm born in 2018.
    With more than 20,000 sqm of assets under management and a current portfolio of €150 million in Real Estate assets,
    Kiri AM is the ideal companion for any individual or investor that wants to make a Real Estate investment in Spain.
    Our services comprise advisory and property management throughout the whole life cycle of an investment: From the
    early stages in which the investor engages with Kiri AM, to the sourcing of market opportunities specifically
    tailored to the particular needs of the client, to the execution and due diligence of a particular investment. We
    provide tax, legal and corporate advisory services in relation to any investment, as well as search of potential
    tenants or operators that will exploit the asset, negotiation and update of the leases with said tenants, daily
    asset management, etc.
    In short, Kiri AM offers a service specifically tailored to the particular needs of each client from the moment
    they want to carry out an investment in Real Estate. We are driven by a focus on excellence, confidence, total
    availability and building strong and lifetime relationships with the clients.
  </p>
</div>